.tittle__about,
.title_description {
  font-family: "Playfair Display";
  letter-spacing: 0.5em;
}
.box_01 {
  font-size: 0.8em;
  line-height: 2.125em;
}

.title_secundary_about {
  font-family: "Playfair Display";
  letter-spacing: 0.5em;
}

.box_02 {
  font-size: 1em;
  line-height: 2.125em;
}

.title_about_01,
.title_about_02 {
  font-family: "Playfair Display";
  letter-spacing: 0.5em;
}

ul > li {
  list-style-type: none;
}
