<section
  style="
    background-image: url('../../../assets/background.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <p class="text-light text-center mt-5 tittle__about fs-2 fw-bold">
    {{ textTitle }}
  </p>
  <div class="box_01 text-center p-2 fst-italic container text-light">
    <q
      >Founded in 2000, Tattoo Studio began as a small tattoo studio. tattoo on
      the heart of [location]. With an unwavering passion for art body, our
      founder, Calvin Martins, turned his vision into reality, creating a space
      where artistic expression and individuality are celebrated.</q
    >

    <p class="title_secundary_about text-light text-center mt-5 fs-2 fw-bold">
      {{ textTitle1 }}
    </p>

    <div class="box_02 p-2 fst-italic container">
      <q
        >At Tattoo Studio, our mission is to create exceptional body art that
        resonates with each client's identity and soul. We believe that each
        tattoo tells a unique and personal story, and we are dedicated to
        transforming these stories into permanent works of art that our clients
        can carry with pride.</q
      >
    </div>

    <p class="title_about_01 mt-5 fs-2 fw-bold text-center">{{ textTitle2 }}</p>
    <div class="border border-danger text-center p-3 rounded-3">
      <ul>
        <li class="mb-2">
          <strong style="color: var(--primary-color)" class="fs-6"
            >Artistic Excellence:</strong
          ><q class="ms-2"
            >Seek perfection in every detail, from the initial design to the
            finished tattoo.</q
          >
        </li>
        <li class="mb-3 mt-3">
          <strong style="color: var(--primary-color)" class="fs-6"
            >Safety and Hygiene:</strong
          ><q class="ms-2">
            Maintain the highest standards of safety and hygiene to ensure the
            well-being of our clients and artists.</q
          >
        </li>
        <li>
          <strong style="color: var(--primary-color)" class="fs-6"
            >Innovation:</strong
          ><q class="ms-2">
            Staying at the forefront of tattoo trends and techniques, always
            exploring new styles and approaches.</q
          >
        </li>
      </ul>
    </div>

    <p class="title_about_02 mt-5 fs-2 fw-bold text-center mb-3">
      {{ textTitle3 }}
    </p>
    <div class="border border-danger text-center p-3 rounded-3">
      <ul>
        <li>
          <strong style="color: var(--primary-color)" class="fs-6"
            >Integrity:</strong
          ><q class="ms-2">
            Conducting our business with honesty and transparency, ensuring our
            customers receive the best experience possible.</q
          >
        </li>
        <li>
          <strong style="color: var(--primary-color)" class="fs-6"
            >Respect:</strong
          ><q class="ms-2">
            Treat each customer with respect and dignity, valuing their ideas
            and desires.</q
          >
        </li>
        <li>
          <strong style="color: var(--primary-color)" class="fs-6"
            >Passion:</strong
          ><q class="ms-2">
            Cultivating an unremitting passion for the art of tattooing,
            inspiring and motivating our team to create high-quality work.</q
          >
        </li>
        <li>
          <strong style="color: var(--primary-color)" class="fs-6"
            >Community:</strong
          ><q class="ms-2">
            Build an inclusive and supportive community where clients and
            artists feel welcome and valued.</q
          >
        </li>
      </ul>
    </div>

    <h3 class="mt-4 title_description">
      {{ titleDescription }}
    </h3>
    <p class="fs-6">
      <q>
        Every tattoo performed at Tattoo STUDIO is a commitment to quality and
        customer satisfaction. We use only top-of-the-line materials and follow
        strict sterilization practices to ensure a safe and professional
        environment. Our team of talented and experienced artists works closely
        with each client to ensure their vision is brought to life in a unique
        and personalized way.
      </q>
    </p>
  </div>
</section>
