.text_principal {
  font-family: "Playfair Dispaly";
  letter-spacing: 0.3em;
}

img {
  animation: zoomIn ease;
  animation-duration: 0.8s;
  object-fit: cover;
  width: 25%;

  &:hover {
    box-shadow: 0.5em 0.5em 0.5em #fff;

  }
}

.image {
  height: 21.555rem;

  &:hover {
    box-shadow: 0.5em 0.5em 0.5em #fff;
    margin-top: -.5em;
    border: .1em solid var(--color-cor);
  }
}

.image_02 {
  height: 21.555rem;

  &:hover {
    box-shadow: 0.5em 0.5em 0.5em #fff;
    margin-top: -.5em;
    border: .1em solid var(--color-cor);

  }
}


.image1 {
  height: 21.555rem;

  &:hover {
    box-shadow: 0.5em 0.5em 0.5em #fff;
    margin-top: -.5em;
    border: .1em solid var(--color-cor);


  }
}



@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 50% 33%;
  }

  .image1,
  .image,
  .image_02 {
    min-width: 100%;
    margin: 0rem 0rem 0rem -10.222rem;

  }
}

