<section
  style="
    background-image: url('../../../assets/background.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <p class="text-center text-light h3 mt-4 fw-bolder tittle_principal">
    {{ titlePrincipal }}
  </p>

  <div class="container d-flex justify-content-between mt-4">
    <img [src]="imgUrl1" class="rounded-3 image1 mb-3" />
    <img [src]="imgUrl2" class="rounded-3 image mb-4" />
    <img [src]="imgUrl3" class="rounded image_02 mb-4" />
  </div>

  <div class="container d-flex justify-content-between">
    <img [src]="imgUrl4" class="rounded-3 image-04 mb-3" />
    <img [src]="imgUrl5" class="rounded-3 image-05 mb-3" />
    <img [src]="imgUrl6" class="rounded image-06" />
  </div>
</section>
