<section
  style="
    background-image: url('../../../assets/background.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <p class="h4 fw-bolder text-light text-center mt-5 title__principal">
    Black and White Tattoos
  </p>

  <div class="container d-flex justify-content-between mt-5">
    <img [src]="getImage" class="rounded-3 image1 mb-3" />
    <img [src]="pathImage" class="rounded-3 image mb-4" />
    <img [src]="pathImage1" class="rounded-3 image_02" />
  </div>

  <div class="container d-flex justify-content-between mt-5">
    <img [src]="pathImage01" class="rounded-3 image1 mb-4" />
    <img [src]="pathImage02" class="rounded-3 image mb-4" />
    <img [src]="pathImage03" class="rounded-3 image_02" />
  </div>
</section>
