
  <h1 class="text-center mt-5 fw-bold">Tattoo Studio</h1>
  <p class="text-center text-light">
    <em
      >"Our studio is known for artistic excellence and customer service.
      custom. With a team of talented and experienced artists,
      We offer a wide range of styles and techniques to suit your
      needs and preferences."</em
    >
  </p>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="7"
        aria-label="Slide 8"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="8"
        aria-label="Slide 9"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="9"
        aria-label="Slide 10"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="imgTattoo1" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo2" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo3" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo4" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo5" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo6" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo7" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo8" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo9" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="imgTattoo10" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
